.profileform {
  padding: 74px 30px 70px;
  display: flex;
  flex-direction: column;
  max-width: 410px;
  min-height: 626px;
  margin: 0 auto;
}

.profileform__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0 0 107px;
  text-align: center;
}

.profileform__fieldset {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px 0;
  border: none;
}

.profileform__field {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  max-width: 50%;
}

.profileform__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  max-width: 50%;
  border: none;
  outline: none;
  text-align: right;
  background-color: transparent;
}

.profileform__input:focus + .profileform__input_focus {
  display: block;
}

.profileform__input_focus {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3456f3;
}

.profileform__fieldset_type_name {
  border-bottom: 1px solid #e8e8e8;
}

.profileform__submit-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 0;
  padding: 0;
  border: none;
}

.profileform__submit-error {
  display: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ff004c;
}

.profileform__submit-error_active {
  display: block;
}

.profileform__submit-success {
  display: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgb(69, 226, 69);
}

.profileform__submit-success_active {
  display: block;
}

.profileform__submit {
  display: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border: none;
  margin: 20px 0 0;
  padding: 15px 0;
  background-color: #3456f3;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
}

.profileform__submit_active {
  display: block;
}

.profileform__submit_disable {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.profileform__edit {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  border: none;
  margin: 20px 0 16px;
  padding: 0;
  background-color: transparent;
}

.profileform__edit_disabled {
  display: none;
}

.profileform__edit:hover {
  opacity: 0.7;
}

.profileform__logout {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  color: #ee3465;
}

.profileform__logout_disabled {
  display: none;
}

.profileform__logout:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .profileform {
    padding: 236px 30px 269px;
  }

  .profileform__title {
    margin: 0 0 80px;
  }
}

@media (max-width: 425px) {
  .profileform {
    padding: 70px 30px 40px;
  }

  .profileform__title {
    margin: 0 0 64px;
  }

  .profileform__submit {
    font-size: 12px;
    line-height: 15px;
  }

  .profileform__edit {
    font-size: 12px;
    line-height: 15px;
  }

  .profileform__logout {
    font-size: 12px;
    line-height: 15px;
  }
}
